<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  {{ message }}
  <table border="2px">
      <tr>
          <td>用户名</td>
          <td><input type="text" name="" v-model="username"></td>
      </tr>
      <tr>
          <td>密码</td>
          <td><input type="password" name="" v-model="password1"></td>
      </tr>
      <tr>
          <td>确认密码</td>
          <td><input type="password" name="" v-model="password2"></td>
      </tr>
      <tr>
          <td>性别</td>
          <td>
              男<input type="radio" name="sex" value="boy" v-model="sex">
              女<input type="radio" name="sex" value="girl" v-model="sex">
          </td>
      </tr>
      <tr>
          <td>爱好</td>
          <td>
              篮球<input type="checkbox" name="hobby" value="basketball" v-model="hobby">
              足球<input type="checkbox" name="hobby" value="football" v-model="hobby">
              游泳<input type="checkbox" name="hobby" value="swimming" v-model="hobby">
          </td>
      </tr>
      <tr>
          <td>所在城市</td>
          <td>
              <select v-model="city">
                  <option value="11000">北京</option>
                  <option value="12000">上海</option>
                  <option value="13000">广州</option>
                  <option value="14000">深圳</option>
              </select>
          </td>
      </tr>
      <tr>
          <td>个人简介</td>
          <td>
              <textarea v-model="desc"></textarea>
          </td>
      </tr>
  </table>
  <button v-on:click="register">注册</button>
</div>
</body>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
        message: "Hello",
        username: "",
        password1: "",
        password2: "",
        sex: "",
        hobby: [],    // 爱好可以多个，用列表来保存
        city: "",
        desc: "",
        },
        methods: {
            register: function (){
                // this代表当前的vue实例
                // 使用 vue中 data变量时，使用 this.变量名
                alert(this.username + this.password1 + this.password2 + this.sex + this.hobby + this.city + this.desc)
            }
        }
    })
</script>
</html>